@{
    ViewData["Title"] = "Criar Forma de Pagamento";
}

@model Pagamento.Models.FormaPagamento

<div>
    <h1 class="display-4"> Criar Forma de Pagamento</h1>
</div>

<form asp-action="CriarForma" asp-controller="FormaPagamento" method="post">
   
    <label>Descricao</label>
    <input class="form-control" type="text" placeholder=" " asp-for="Descricao" />


    <button class="btn btn-primary" type="submit">Cadastrar</button>
    <a class="btn btn-secondary" href="@Url.Action("FormaPagamento", "FormaPagamento")">Cancelar</a>
</form>

